a:link{
    color: black;
}
a:visited { 
    color:black; 
}
span:hover { 
    color: gray;
}
a:hover { 
    color:gray;
    text-decoration: none;
}

tr:hover {
    cursor: pointer;
}

table {
    font-family: 'Gugi', cursive;
}

button {
    font-family: 'Gugi', cursive;    
}


body {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width:100%;
    height:100vh;
    background-repeat : no-repeat;
    background-size : cover;
}

.title {
    font-family: 'Parisienne', cursive;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title>h1 {
    font-size: 100px;
    text-decoration: underline solid black 2px;
    margin-top: 2.5%;
}


.sign {
    font-family: 'Parisienne', cursive;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: -2%
}

.sign > a > span {
    display: inline-block;
    margin: 0 7% 0 7%;
    width: 120px;
    height: 45px;
    font-size: 35px;
    text-decoration: underline solid black 1px;
}

.sign> a > span:hover{
    cursor: pointer;
}

.main-cards {
    width: 95%;
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Gugi', cursive;
    text-decoration: none;
    font:black;
}
.main-cards > hr {
    margin-top:2%;
    padding-bottom: 10px;
} 

.card-body:hover { 
    cursor: pointer;
}

.table{
    width: 80%;
    text-align: center;
    margin: 3% auto 3% auto;
    color:black;
}

.btn-light {
    margin: -2% 10% 0 0;
    border: 2px solid skyblue;
    float: right;
}

.post {
    width: 80%;
    height: 63%;
    clear: both;
    font-family: 'Gugi', cursive;
    margin: 0 auto 0 auto;
}
.post_name_input {
    margin: 2% 0 2% 0;
}
.login-form{
    font-family: 'Gugi', cursive;
    width: 45%;
    height: 50%;
    margin: 0 auto 0 auto;
    border: 2px solid skyblue;
    text-align:center;
    border-radius:2%;
}

.login-form > p{
    margin-top : 7%;
}

.login-form > input{
    width: 60%;
    height: 50px;
    margin: 10px auto 10px auto;
    clear: both;
}

.login-btn{
    font-size:25px;
    float:None;
    width:100px;
    height:45px;
    margin-top:4%;
    border-radius: 5%;
    margin:4% auto 4% auto;
}

.sign-up-form {
        font-family: 'Gugi', cursive;
        width: 45%;
        height: 60%;
        margin: 0 auto 0 auto;
        border: 2px solid skyblue;
        text-align:center;    
        border-radius:2%;
    }
    
    .sign-up-form > p{
        margin-top : 4%;
    }
    
    .sign-up-form > input{
        width: 60%;
        height: 50px;
        margin: 10px auto 10px auto;
        clear: both;
    }

    .sign-up-form > button{
        font-size:25px;
        float:None;
        width:150px;
        height:45px;
        margin-top:4%;
        border-radius: 5%;
        margin:4% auto 4% auto;
        }
